 *{
    margin: 0;
     padding: 0; 
    box-sizing: border-box;
 }  

body{
    background: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.w3schools-logo .dotcom{
    color: green;
}
.w3schools-logo{
    font-family: 'Roboto', sans-serif ;
    text-decoration: none;
    line-height: 1;
    font-size: 37px;
    letter-spacing: 2px;
    color: #333333;
    display: block;
    position: absolute;
    top: 17px;
}
a{
    color: inherit;
}

.login{
    display: none;
    line-height: 1.5;
    padding: 6px 14px;
    position: relative;
    top: 7px;
    color: #ffffff;
    background: #4CAF50;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.w3-right{
    float: right!important;
}
.w3-wide{
    letter-spacing: 4px;
}
.w3-container{
    padding: 0.01em 16px;
}
/* .top{
    position: relative;
    background: #ffffff;
    height: 68px;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
} */
.text{
    margin-right: 20px;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1;
    font-size: 20px;
}
div{
    display: block;
}
.w3-theme{
    color: #fff !important;
    background-color: #4CAF50 !important;
}

.w3-padding-32{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.w3-col .w3-button{
    margin: 5px 5px 5px 0;
    font-size: 16px;
}
.w3-bar .w3-button{
    white-space: normal;
}
.w3-bar .w3-bar-item{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.w3-padding-16{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.w3-btn, .w3-button{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.w3-sidebar{
    z-index: 3;
    width: 230px;
    overflow: hidden !important;
    position: absolute !important;
    margin-bottom: -155px;
}


.w3-button:hover,.green:hover{
    background-color: #fff;
    color: black;
}
a{
    color: inherit;
}
a{
    background-color: inherit;
}

.w3-wide{
    font-family: Arial, Helvetica, sans-serif;
}
.w3-bar{
    position: relative;
    z-index: 4;
    font-size: 17px;
}
  
.w3-card, 
.w3-card-2{
     box-shadow:0 2px 5px 0 ;
}
.w3-container:after,
.w3-container:before,

.w3-row:after,
.w3-row:before,
.w3-row-padding:after,
.w3-row-padding:before,

.w3-bar:before,
.w3-bar:after
{
    content: "";
    display: table;
    clear: both;
}
.w3-theme{
    color: #fff !important;
    background-color: #4CAF50 !important;
}
.w3-bar{
    width: 100%;
    overflow: hidden;
}
.w3-wide{
    letter-spacing: 4px;
}

.w3-margin-bottom
{
    margin-bottom: 16px !important;
}
.w3-margin-top{
    margin-top: 16px !important;
}
.w3-gwhite:hover{
    color: #000 !important;
    background: #fff !important;
}
h1,.w3-jumbo{
    font-size: 60px !important;
    color: #555555;
    margin: 2px 0 -20px 0;
}
h2,h4, h3{
    font-family: Arial, Segoe UI, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
h2{
    font-size: 30px !important;
}
h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.3em;
    margin-inline-start: 0px;
    margin-inline-end:0px ;
}
h4{
    font-size: 20px;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end:0px ;
    font-weight: bold;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end:0px ;
}
h3{
    font-size: 24px;
}
.w3-sidebar .w3-bar-block .w3-bar-item{
    padding: 0 16px;
    font-size: 16px;
}
.w3-bar .w3-button{
    white-space: normal;
}
.w3-bar .w3-bar-item{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;

}

.w3-bar-block
.w3-bar-item{
     width: 100%;
     display: block;
     padding: 8px 16px;
     text-align: left;
     border: none;
     white-space: normal;
     float: none;
     outline: 0;
}
.w3-dark-grey{
    color: #fff !important;
    background-color: #616161 !important;
}
.w3-light-grey{
    padding: 16px;
    color: #000 !important;
    background-color: #f1f1f1 !important;

}
.w3-left{
    float: left !important;
}
.w3-center{
    text-align: center !important;
}

.w3-xlarge{
    font-size: 24px !important;
}
.w3-xxlarge{
    font-size: 36px !important;
}
.w3-container{
    padding: 0.01em 16px;
}
.w3-col{
    float: left;
    width: 100%;
}
.w3-margin-top{
    margin-top: 16px !important;
}
.w3-col .w3-button{
    margin: 5px 5px 5px 0;
    font-size: 16px;
}
.w3-display-topright{
    position: absolute;
    right: 0;
    top: 0;
}
.w3-gwhite{
    color: #000 !important;
    background-color: #fff !important;
}
.w3-padding{
    padding: 8px 16px !important;
}
.w3-main, #main{
    transition: margin-left .4s;
}
.w3-margin-bottom{
    margin-bottom: 16px !important;
}
.w3-main{margin-left: 230px;}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.w3-text-dark-grey{
    color: #3a3a3a !important;
}
.coding{
    border-color: #4CAF50 !important;
}
.w3-code{
    font-family: 'Inconsolata',;
    font-size: 16px;
    margin-left: 20px;
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word;
}
.w3-code{
    margin-top: 16px !important;
    margin-left: 16px !important;
}
.tagname{
    color: brown;
}
.tagcolor{
    color: mediumblue;
}
.attributecolor{
    color: red;                                                                                                                                                                                                                                            
}
.attributevaluecolor{
    color: mediumblue;
}
.csscolor{
    color: brown;
}
.csslimitcolor{
    color: black;
}

.csspropertycolor{
    color: red;
}
.csspropertyvaluecolor{
    color: mediumblue;
}
.jscolor{
    color: black;
}
.jskeywordscolor{
    color: mediumblue;
}
.jsnumbercolor{
    color: red;
}
.jsstringcolor{
    color: brown;
}
.sqlcolor{
    color: black;
}
.sqlkeywordcolor{
    color: mediumblue;
}
.sqlstringcolor{
    color: brown;
}

.w3-padding-large{
    padding: 12px 24px !important ;
}
.w3-padding-48{
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.w3-row-padding,
.w3-row-padding>.w3-third,
.w3-row-padding>.w3-col{
    padding: 0 8px;
}
.w3-content{
    max-width: 980px;
}
.w3-content{
    margin-left: auto;
    margin-right: auto;
}
.w3-col,.w3-third{
    float: left;
    width: 100%;
}
.w3-green{
    color: #fff !important;
    background-color: #4CAF50 !important;
}
.w3-block{
    display: block;
    width: 100%;
}
.w3-black{
    color: #fff !important;
    background-color: #000!important;
}
.w3-display-container{
    position: relative;
}
img{
    vertical-align: middle;
}
img{
    border-style: none;
}
.certoverlay{
    position: absolute;
    top: 0;
    background-color:rgba(0, 0,0 ,0.5) ;
    width: 100%;
    text-align: center;
    padding: 15px;
}
.w3-display-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer{
    display: block;
}